<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <clear />
    <add name="DefaultConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Databases\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnectionString" connectionString="Server=(localdb)\mssqllocaldb;Database=PO_Database;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>