<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <clear/>
    <add name="FileDbConnectionStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=B:\Projects\UCZELNIA\Studenci\Programowanie_obiektowe_S\Lab8.App\Lab8.App\Database\Database.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>